In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/homework/data/adult.csv")

In [ ]:
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
5,2,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,2,United-States,<=50K
6,3,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,Jamaica,<=50K
7,3,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,2,United-States,>50K
8,1,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,4,0,3,United-States,>50K
9,2,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,2,0,2,United-States,>50K

In [ ]:
data.shape

(48842, 15)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [ ]:
data.describe()

,age,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,1.771078,1.896641e+05,10.078089,0.200319,0.114942,1.950698
std,1.295378,1.056040e+05,2.570973,0.746182,0.556924,0.897038
min,0.000000,1.228500e+04,1.000000,0.000000,0.000000,0.000000
25%,1.000000,1.175505e+05,9.000000,0.000000,0.000000,2.000000
50%,2.000000,1.781445e+05,10.000000,0.000000,0.000000,2.000000
75%,3.000000,2.376420e+05,12.000000,0.000000,0.000000,2.000000
max,4.000000,1.490400e+06,16.000000,4.000000,4.000000,4.000000

In [ ]:
data.drop(['fnlwgt'],axis=1, inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   education       48842 non-null  object
 3   education-num   48842 non-null  int64
 4   marital-status  48842 non-null  object
 5   occupation      46033 non-null  object
 6   relationship    48842 non-null  object
 7   race            48842 non-null  object
 8   sex             48842 non-null  object
 9   capitalgain     48842 non-null  int64
 10  capitalloss     48842 non-null  int64
 11  hoursperweek    48842 non-null  int64
 12  native-country  47985 non-null  object
 13  class           48842 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

### 一

In [ ]:
def read_csv_1(data_file):
  data = pd.read_csv(data_file).drop(['fnlwgt'],axis=1)
  return data

### 二

In [ ]:
def num_rows(df):
	return df.shape[0]

### 三

In [ ]:
def column_names(df):
  col_names = list(df.columns)
  return col_names

### 四

In [ ]:
def missing_values(df):
	return df.isnull().sum().sum()

### 五

In [ ]:
def columns_with_missing_values(df):
  miss_values = df.isnull().sum()
  res = []
  for index in miss_values.index:
    if miss_values.loc[index]>0:
      res.append(index)
  return res

### 六

In [ ]:
def bachelors_masters_percentage(df):
  bac_and_mas = 0
  all_sum = 0
  count = df['education'].value_counts()
  for index in count.index:
    if index in ['Bachelors', 'Masters']:
      bac_and_mas += count.loc[index]
    all_sum += count.loc[index]
  return round(bac_and_mas/all_sum, 3)

### 七

In [ ]:
def data_frame_without_missing_values(df):
  df.dropna(axis=0, inplace=True)
  return df

### 八

In [ ]:
def one_hot_encoding(df):
  data = df.iloc[:,:-1] #remove target column
  data_dummies = pd.get_dummies(data)
  return data_dummies

### 九

In [ ]:
def label_encoding(df):
  target = df.iloc[:,-1].copy()
  for i in range(target.shape[0]):
    if target.iloc[i] in ['<=50K']:
      target.iloc[i] = 0 
    else:
      target.iloc[i] = 1
  return target

### 十

In [ ]:
def dt_predict(X_train,y_train):
  from sklearn import tree
  # test
  # train_data = data_frame_without_missing_values(data)
  # X_train = one_hot_encoding(train_data).values
  # y_train = label_encoding(train_data).values.astype("int")
  clf = tree.DecisionTreeClassifier()
  clf = clf.fit(X_train,y_train)
  res = pd.Series(clf.predict(X_train))
  return res

### 十一

In [ ]:
def dt_error_rate(y_pred, y_true):
  num = len(y_pred)
  count = sum([y_pred[i]==y_true[i] for i in range(num)])
  return round(count/num, 3)

In [ ]:
data_file = "/content/drive/MyDrive/ColabNotebooks/homework/data/adult.csv"
data = read_csv_1(data_file)

In [ ]:
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [ ]:
train_data = data_frame_without_missing_values(data)
X_train = one_hot_encoding(train_data).values
y_train = label_encoding(train_data).values.astype("int")
res = dt_predict(X_train, y_train)

In [ ]:
res.values

array([0, 0, 0, ..., 1, 0, 1])

In [ ]:
dt_error_rate(res.values,y_train)

0.917

In [ ]:

# Part 1: Decision Trees with Categorical Attributes
import pandas as pd
from sklearn import tree
# Return a pandas dataframe containing the data set that needs to be extracted from the data_file.
# data_file will be populated with the string 'adult.csv'.
def read_csv_1(data_file):
	data = pd.read_csv(data_file).drop(['fnlwgt'],axis=1)
	return data

# Return the number of rows in the pandas dataframe df.
def num_rows(df):
	return df.shape[0]

# Return a list with the column names in the pandas dataframe df.
def column_names(df):
	col_names = list(df.columns)
	return col_names

# Return the number of missing values in the pandas dataframe df.
def missing_values(df):
	return df.isnull().sum().sum()

# Return a list with the columns names containing at least one missing value in the pandas dataframe df.
def columns_with_missing_values(df):
	miss_values = df.isnull().sum()
	res = []
	for index in miss_values.index:
		if miss_values.loc[index] > 0:
			res.append(index)
	return res

# Return the percentage of instances corresponding to persons whose education level is 
# Bachelors or Masters, by rounding to the third decimal digit,
# in the pandas dataframe df containing the data set in the adult.csv file.
# For example, if the percentage is 0.21547%, then the function should return 0.216.
def bachelors_masters_percentage(df):
	bac_and_mas = 0
	all_sum = 0
	count = df['education'].value_counts()
	for index in count.index:
		if index in ['Bachelors', 'Masters']:
			bac_and_mas += count.loc[index]
		all_sum += count.loc[index]
	return round(bac_and_mas/all_sum, 3)

# Return a pandas dataframe (new copy) obtained from the pandas dataframe df 
# by removing all instances with at least one missing value.
def data_frame_without_missing_values(df):
	df.dropna(axis=0, inplace=True)
	return df

# Return a pandas dataframe (new copy) from the pandas dataframe df 
# by converting the df categorical attributes to numeric using one-hot encoding.
# The function should not encode the target attribute, and the function's output
# should not contain the target attribute.
def one_hot_encoding(df):
	data = df.iloc[:,:-1] #remove target column
	data_dummies = pd.get_dummies(data)
	return data_dummies

# Return a pandas series (new copy), from the pandas dataframe df, 
# containing only one column with the labels of the df instances
# converted to numeric using label encoding. 
def label_encoding(df):
	target = df.iloc[:,-1].copy()
	for i in range(target.shape[0]):
		if target.iloc[i] in ['<=50K']:
			target.iloc[i] = 0 	
		else:
			target.iloc[i] = 1
	return target

# Given a training set X_train containing the input attribute values 
# and labels y_train for the training instances,
# build a decision tree and use it to predict labels for X_train. 
# Return a pandas series with the predicted values. 
def dt_predict(X_train,y_train):
	# test
	# train_data = data_frame_without_missing_values(data)
	# X_train = one_hot_encoding(train_data).values
	# y_train = label_encoding(train_data).values.astype("int")
	clf = tree.DecisionTreeClassifier()
	clf = clf.fit(X_train,y_train)
	res = pd.Series(clf.predict(X_train))
	return res

# Given a pandas series y_pred with the predicted labels and a pandas series y_true with the true labels,
# compute the error rate of the classifier that produced y_pred.  
def dt_error_rate(y_pred, y_true):
	num = len(y_pred)
	count = sum([y_pred[i]==y_true[i] for i in range(num)])
	return round(count/num, 3)

# 1
data = read_csv_1('/content/drive/MyDrive/ColabNotebooks/homework/data/adult.csv')
print(data)
# 2
print(num_rows(data))
# 3
print(column_names(data))
# 4
print(missing_values(data))
# 5
print(columns_with_missing_values(data))
# 6
print(bachelors_masters_percentage(data))
# 7
data = data_frame_without_missing_values(data)
# 8
X_train = one_hot_encoding(data).values
# 9
y_train = label_encoding(data).values.astype("int")
print(y_train)
# 10
y_pred = dt_predict(X_train,y_train)
# 11
acc = dt_error_rate(y_pred, y_train)
print(acc)

       age         workclass  education  education-num      marital-status  \
0        2         State-gov  Bachelors             13       Never-married
1        3  Self-emp-not-inc  Bachelors             13  Married-civ-spouse
2        2           Private    HS-grad              9            Divorced
3        3           Private       11th              7  Married-civ-spouse
4        1           Private  Bachelors             13  Married-civ-spouse
...    ...               ...        ...            ...                 ...
48837    2           Private  Bachelors             13            Divorced
48838    4               NaN    HS-grad              9             Widowed
48839    2           Private  Bachelors             13  Married-civ-spouse
48840    2           Private  Bachelors             13            Divorced
48841    1      Self-emp-inc  Bachelors             13  Married-civ-spouse

              occupation    relationship                race     sex  \
0           Adm-clerical   Not-in-family               White    Male
1        Exec-managerial         Husband               White    Male
2      Handlers-cleaners   Not-in-family               White    Male
3      Handlers-cleaners         Husband               Black    Male
4         Prof-specialty            Wife               Black  Female
...                  ...             ...                 ...     ...
48837     Prof-specialty   Not-in-family               White  Female
48838                NaN  Other-relative               Black    Male
48839     Prof-specialty         Husband               White    Male
48840       Adm-clerical       Own-child  Asian-Pac-Islander    Male
48841    Exec-managerial         Husband               White    Male

       capitalgain  capitalloss  hoursperweek native-country  class
0                1            0             2  United-States  <=50K
1                0            0             0  United-States  <=50K
2                0            0             2  United-States  <=50K
3                0            0             2  United-States  <=50K
4                0            0             2           Cuba  <=50K
...            ...          ...           ...            ...    ...
48837            0            0             2  United-States  <=50K
48838            0            0             2  United-States  <=50K
48839            0            0             3  United-States  <=50K
48840            2            0             2  United-States  <=50K
48841            0            0             3  United-States   >50K

[48842 rows x 14 columns]
48842
['age', 'workclass', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'native-country', 'class']
6465
['workclass', 'occupation', 'native-country']
0.219